.App {
}

.Game {
}

.GameMenu,
.GameRunning,
.GameEnd {
}

.GameEnd ul {
  width: 50%;
  float: left;
}

.Header {
  background-color: #e8e8e8;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}

.CountryTable {
}

.CountryTable .Table {
  display: grid;
  padding: 1em;
  grid-gap: 1em;
  grid-auto-rows: minmax(20%, auto);
  position: absolute;
  height: 80%;
}

.Country {
}

.Country:hover {
  cursor: pointer;
}

img.Flag {
  width: 100%;
  height: 100% !important;
  object-fit: contain;
}

.CountryInline {
  list-style: none;
}

.CountryInline img.Flag {
  max-width: 2em;
  /*height: 1em;*/
  margin-right: .5em;
}
