
.Game {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.Game > .Header {
  flex: 0;
}

.Game > .GameMenu,
.Game > .GameEnd,
.Game > .GameRunning{
  min-height: 100%;
  flex: 1;
}

.GameMenu {
  display:flex;
  flex-direction:column;
}

.GameMenu>button {
  flex:1;
}

.Header {
  background-color: #ebebeb;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}

.CountryTable {
}

.scoreBar {
  position: fixed;
  bottom: 0;
  height: 1em;
  width: 100%;
  display: flex;
  color: #fff;
  text-align: center;
}

.scoreBar>span {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}

.scoreBar>div {
  flex: 1 0 auto;
  transition: background-color .3s;
  background-color: #ebebeb;
}

.scoreBar>div:nth-child(even) {
  background-color: #e8e8e8;
}

.scoreBar>div.correct {
  background-color: #43a047;
}

.scoreBar>div.fail {
  background-color: #f44336;
}

.CountryTable .Table {
  height: 100%;
  display: grid;
  padding: 1em;
  grid-gap: 1em;
  grid-auto-rows: minmax(20%, auto);
}

.Country {
}

.Country:hover {
  cursor: pointer;
}

img.Flag {
  width: 100%;
  height: 100% !important;
  object-fit: contain;
}

.GameEnd ul {
  list-style: none;
}

.CountryInline {
  display: inline;
  margin-right: .5em;
  margin-right: .25em;
}
.CountryInline:after {
  content: ';'
}

.CountryInline img.Flag {
  max-width: 2em;
  /*height: 1em;*/
}
