.App {
}

.Game {
}

.Menu {
}

.Menu > * {
  margin: 5% 10%;
}

.MenuHeader {
  background-color: #e8e8e8;
  font-weight: bold;
  margin: 0;
  padding: 1em;
  text-align: center;
}

.MenuFlags {
  margin-right: 0;
  margin-left: 0;
  font-size: xx-small;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.MenuFlags > div {
  height: 1em;
  display: inline-block;
  padding: 0 .1em;
  flex: 0 1 2%;
  overflow: hidden;
  text-align: center;
}

.MenuFlags > div > img{
  height: 100%;
}

.Answer {
  text-align: center;
}

.CountryTable {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 0 !important;
}

.CountryTable>div {
  padding: 0 !important;
}

.Country {
  width: 100%;
  height: 100%;
  padding: 1em;
  /*background-color: #e8e8e8;*/
}

.Country:hover {
  box-shadow: inset 0 0 16px 0px #e8e8e8;
  cursor: pointer;
}

.Page {
  width: 80%;
  margin: 0 auto;
}

.PageTitle {
  text-align: center;
  background-color: #e8e8e8;
}

img.Flag {
  width: 100%;
  height: 100% !important;
  object-fit: contain;
}
